*~
*.iml
*.bak
*.swp
*.orig
*.o
*.a
*.class
*.jar
*.ear
*.rar
*/.deps/*
.idea
target
release
.deps
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
config.h
config.hin
.cproject
.project
configDefinedKeys.cpp
configDefinedKeys.h
tags
.gcda
.gcno
.classpath
.settings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
